<div class="container" style="margin-left: 40px" xmlns:th = "http://www.thymeleaf.org">
    <div class="row" >
        <label style="padding: 10px; color: white; font-weight: 600" th:text="#{label.dashboard}">
        </label>
    </div>
    <div class="row">

        <a th:href="@{'/admin'}" style="padding: 10px; color: black; font-weight: 600; text-decoration: none" th:text="#{label.items}">
        </a>
    </div>
    <div class="row" >
        <a th:href="@{'/adminBrands'}" style="padding: 10px; color: black; font-weight: 600; text-decoration: none" th:text="#{label.brands}">
        </a>
    </div>
    <div class="row">
        <a th:href="@{'/adminCountries'}" style="padding: 10px; font-weight: 600; color: black; text-decoration: none" th:text="#{label.countries}">
        </a>
    </div>
    <div class="row" >
        <a th:href="@{'/adminCategories'}" style="padding: 10px; color: black; font-weight: 600; text-decoration: none" th:text="#{label.categories}">
        </a>
    </div>
</div>