<div class="row"  xmlns:th = "http://www.thymeleaf.org">
    <div class="col-sm-9 text-left" style="padding-left: 30px">
        <a th:href="@{'/'}" style="text-decoration: none; color: black; font-size: 26px; font-weight: bold; padding-left: 10px">Home</a>
    </div>
    <div class="col-sm-3 text-left" style="height: 30px;">
        <div class="btn-group">
            <a class="btn btn-link" th:href="@{'?lng=en'}">ENG</a>
            <a class="btn btn-link" th:href="@{'?lng=ru'}">РУС</a>
        </div>
    </div>
</div>