<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">

<div layout:fragment="content_site">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/registration'}" method="post">
                <div class="form-group">
                    <label>Email: </label>
                    <input type="email" name="user_email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Password: </label>
                    <input type="password" name="user_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Reenter Password: </label>
                    <input type="password" name="re-user_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Full name: </label>
                    <input type="text" name="user_full_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-right">Registration</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>